doctype html
html
    head
        meta(charset="utf-8")
        link(href="styles/styles.css", rel="stylesheet")
    body
        h1 Tytuł
        p dupa

        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        p ss
        p i chuj